[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
python-multipart = "*"
uvicorn = {extras = ["standard"], version = "*"}
aiofiles = "*"
aiohttp = "*"
pymongo = "*"
pymystem3 = "*"
stanza = "*"
gensim = "*"
textract = "*"
charset-normalizer = "*"
beautifulsoup4 = "*"
lxml = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.11"
